<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sair</title>
    <link rel="shortcut icon" href="../static/images/img1.png" />
    <link rel="stylesheet" href="../static/css/Login3.css">
</head>
<body class="bgfun">
    <form class="form" method="POST">
        
        <div class="card">
            <div class="card-top">
                <img id="img1"src="../static/images/mech.png" alt="Foto">
                <h2 class="titulo">Tem certeza que deseja sair?</h2>
            </div>

            <div class="card-group">
                <input type="submit" name="submit_button" value="Sim">
            </div>

            <div class="card-group2">
                <input type='button' value="Não" class="btn btn-info" onclick="history.go(-1)" >
            </div>

        </div>
    </body>
</html>